<!doctype html>
<head>
    <link rel="stylesheet" href="\js\bower_components\angular-material\angular-material.css">
    <link rel="stylesheet" href="\css\datepicker.css">
</head>
<html>
<body ng-app='myApp' ng-controller="AppCtrl as ctrl" layout="row" ng-cloak>
  <div flex="30" layout="column" layout-padding>

    <code>Proyecto: {{proyecto}}</code>
    <code>Camara: {{camara}}</code>

    <h4>Foto</h4>
    <md-input-container>
            <label>Fotos Disponibles</label>
       <md-select ng-model="selectedFoto" ng-change="selectChanged()">
         <md-option ng-repeat="foto in fotos" ng-value="foto">{{foto.name}}</md-option>
       </md-select>
    </md-input-container>

    <h4>Fecha</h4>
    <md-datepicker ng-model="myDate" ng-change="reqDate()" md-placeholder="Enter date"></md-datepicker>
    <h4>Hora</h4>
    <md-input-container>
            <label>Hora</label>
       <md-select ng-model="time">
         <md-option ng-repeat="time in times" value="{{time}}">{{time}}</md-option>
       </md-select>
    </md-input-container>

    <!-- <h4>year: {{myDate.year}}</h4>
    <h4>month: {{myDate.month}}</h4>
    <h4>day: {{myDate.date}}</h4>
    <h4>folder in bucket: {{myDate.stringBusqueda}}</h>
    <h4>date returned: {{myDate}}</h> -->

  </div>

  <div flex layout="column" layout-padding>
    <img ng-src="{{alfa}}" class="caelus">
  </div>

  <script src="\js\bower_components\angular\angular.js"></script>
  <script src="\js\bower_components\angular-animate\angular-animate.js"></script>
  <script src="\js\bower_components\angular-aria\angular-aria.js"></script>
  <script src="\js\bower_components\angular-messages\angular-messages.js"></script>

  <!-- Angular Material Library -->
  <script src='\js\bower_components\angular-material\angular-material.js'></script>
  <script src='\js\angular-datepicker.js'></script>
</body>
</html>
