<!doctype html>
<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<html ng-app='datepickerBasicUsage'>
<body class="container">
    <header>
        <% include ./partials/header %>
    </header>

    <div ng-controller="AppCtrl" ng-cloak>
      <md-content layout-padding>

        <div layout-gt-xs="row">
          <div flex-gt-xs>
            <h4>Fecha</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
          </div>
          <div flex-gt-xs>
            <h4>Año: {{myDate.getFullYear()}}</h4>
            <h4>Mes: {{myDate.getMonth()+1}}</h4>
            <h4>Dia: {{myDate.getDate()}}</h4>
            <h4>String Busqueda: {{myDate.getFullYear()+myDate.getMonth()+1+myDate.getDate()}}</h4>
          </div>
        </div>

      </md-content>
    </div>

    <footer>
        <% include ./partials/footer %>
    </footer>

    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>

    <!-- Angular Material Library -->
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js'></script>
    <script src='/js/angular-datepicker.js'></script>
</body>
</html>
