<!DOCTYPE html>
<head>
    <% include ./partials/head %>
</head>
<body class="container">
    <header>
        <% include ./partials/header %>
    </header>

    <div class='datepicker-here' data-timepicker="true" data-language='es'></div>
    <div class='date-class' id='date'></div>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/datepicker.es.js"></script>
    <script>

    </script>
</body>
